USE [master]
GO
/****** Object:  Database [CompareFactsQuizDao]    Script Date: 14.04.2023 8:41:32 ******/
CREATE DATABASE [CompareFactsQuizDao]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CompareFactsQuizDao', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\CompareFactsQuizDao.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CompareFactsQuizDao_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\CompareFactsQuizDao_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CompareFactsQuizDao].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CompareFactsQuizDao]
GO
/****** Object:  Table [dbo].[CompareFactsQuiz]    Script Date: 14.04.2023 8:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompareFactsQuiz](
	[question1] [nchar](10) NULL,
	[question2] [nchar](10) NULL,
	[question3] [nchar](10) NULL,
	[question4] [nchar](10) NULL,
	[answer1] [nchar](10) NULL,
	[answer2] [nchar](10) NULL,
	[answer3] [nchar](10) NULL,
	[answer4] [nchar](10) NULL
) ON [PRIMARY]
GO
USE [master]
GO
