USE [master]
GO
/****** Object:  Database [MapQuizDao]    Script Date: 14.04.2023 8:42:44 ******/
CREATE DATABASE [MapQuizDao]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MapQuizDao', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\MapQuizDao.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MapQuizDao_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\MapQuizDao_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MapQuizDao].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MapQuizDao]
GO
/****** Object:  Table [dbo].[MapQuiz]    Script Date: 14.04.2023 8:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MapQuiz](
	[countryShape] [geometry] NULL,
	[inputTxt] [nchar](20) NULL,
	[clueFact] [nchar](20) NULL,
	[cluePopulation] [int] NULL,
	[clueContinent] [nchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
