USE [master]
GO
/****** Object:  Database [FlagQuizDao]    Script Date: 14.04.2023 8:42:14 ******/
CREATE DATABASE [FlagQuizDao]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FlagQuizDao', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\FlagQuizDao.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FlagQuizDao_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\FlagQuizDao_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FlagQuizDao].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FlagQuizDao]
GO
/****** Object:  Table [dbo].[FlagQuiz]    Script Date: 14.04.2023 8:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlagQuiz](
	[flagImage] [image] NULL,
	[variant1] [nchar](10) NULL,
	[variant2] [nchar](10) NULL,
	[variant3] [nchar](10) NULL,
	[variant4] [nchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
