USE [master]
GO
/****** Object:  Database [FactQuizDao]    Script Date: 14.04.2023 8:41:46 ******/
CREATE DATABASE [FactQuizDao]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FactQuizDao', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\FactQuizDao.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FactQuizDao_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\FactQuizDao_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FactQuizDao].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FactQuizDao]
GO
/****** Object:  Table [dbo].[FactQuiz]    Script Date: 14.04.2023 8:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactQuiz](
	[Fact] [nchar](10) NULL,
	[variant1] [nchar](10) NULL,
	[variant2] [nchar](10) NULL,
	[variant3] [nchar](10) NULL,
	[variant4] [nchar](10) NULL
) ON [PRIMARY]
GO
USE [master]
GO
